body {
    font-family: Arial;
    background-color: rgb(151, 127, 155);
    text-align: center;
}

.menu a {
    margin: 5px;
    padding: 8px;
    background-color: rgb(128, 43, 69);
    color: white;
    text-decoration: none;
}

.box {
    display: none;
    background-color: white;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(112, 72, 72);
}

/* zobrazí se jen kliknuté */
.box:target {
    display: block;
}
